<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head.ejs'); %>
</head>

<body>

    <h1>I'm the stories app</h1>
    <p>Current user: <%= currentUserName %></p>
    <a href="/logout">Logout</a>

    <!-- This loops through the stories array, displaying each title and the first 5 
        paragraphs, and a hidden field with the story id -->

    <div class="storyTitlesWrapper">
        <% for (var i = 0; i < stories.length;  i++ ) { %>
        <div id="storyTitles">
            <form method="post" action="/">
                <h3><%= stories[i]['title'] %></h3>
                <input type="submit" value="view / add to story">
                <input name = "storyId" type="hidden" value="<%= stories[i]['id'] %>">
                <% for (var j = 0; j < stories[i]['paragraphs'].length;  j++ ) { %>
                    <p><%= stories[i]['paragraphs'][j][0] %></p>
                <% } %>
            </form>
            </div>    
        <% } %>
    </div>
        
    <form method="post" action="/addstory">        
        <textarea cols="60", name="addStoryInput", rows="4"></textarea>
        <br>
        <input type="submit" value="Start a new story">
    </form>

</body>
</html>
