<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head.ejs'); %>
</head>

<%- include('../views/partials/header.ejs'); %>


<body>

    <h1>I'm the stories app</h1>
    <p>Current user: <%= currentUserName %></p>
    <a href="/logout">Logout</a>

    <div class="storyTitlesWrapper">
        <% stories.forEach(function(story) { %>
            <div id="storyTitles">
                <form method="get" action="/story/<%= story['id'] %>">
                    <h2> <%= story['title'] %></h2>
                    <input type="submit" value="view / add to story">
                    <input name = "storyId" type="hidden" value="<%= story['id'] %>">
                </form>
                <% story['paragraphs'].forEach(function(para) { %>
                <p> <%= para['content'] %></p>
                <% }); %>
            </div>
        <% }); %>  
    </div>
<div class="addStoryWrapper">  
    <form action="/addstory" method="post">        
        <textarea cols="60", maxlength="70" name="addStoryInput", placeholder="Enter the title of your story", rows="4", title="Maximum length 70 characters", required></textarea>
        <br>
        <input type="submit" value="Start a new story">
    </form>
</div>
<%- include('../views/partials/footer.ejs'); %>
</body>
</html>
