<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!-- <%- include('../views/partials/head.ejs'); %> -->
</head>

<%- include('../views/partials/header.ejs'); %>

<body>
    <h2>Welcome to the story page</h2>
    <p>Current user: <%= currentUserName %></p>

    <h2><%= story['title'] %></h2>
    <% story['paragraphs'].forEach(function(para) { %>
        <p><%= para['content'] %></p>
    <% }); %>

    <form action="/story", method="post">
        <p>Add to story</p>
        <textarea name="paragraph_input", cols="60", maxlength="2000", minlength="1", name="addStoryInput", rows="4", placeholder="Contribute to this story", title="Maximum length 2000 characters", required></textarea></textarea>
        <input type="hidden" name = "storyId" value="<%= story['id'] %>">
        <br>
        <button type="submit">Submit</button>
    </form>

    <%- include('../views/partials/footer.ejs'); %>
</body>
</html>
