<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <%- include('../views/partials/head.ejs'); %>
</head> -->

<body>
    <h2>Welcome to the story page</h2>
    <!-- <p>Current user: <%= currentUserName %></p>
    <a href="/logout">Logout</a>
    <a href="/">Home</a>

    <h2><%= story['title'] %></h2>
    <% story['paragraphs'].forEach(function(para) { %>
        <p><%= para['content'] %></p>
    <% }); %>

    <form action="/story", method="post">
        <p>Add to story</p>
        <textarea name="paragraph_input", cols="60", maxlength="2000", minlength="1", name="addStoryInput", rows="4", placeholder="Contribute to this story", title="Maximum length 2000 characters", required></textarea></textarea>
        <input type="hidden" name = "storyId" value="<%= story['id'] %>">
        <br>
        <button type="submit">Submit</button>
    </form> -->

</body>
</html>
